/* VARIABLES */

$product-container-height: 380px;
$image-container-height: 200px;
$image-container-preview-height: 100px;

/* VARIBLES END */

.product-container {
	height: $product-container-height;
	margin-top: 15px;

	a {
		text-decoration: none;
	}
	
	.product-title p, .product-description div {
		height: 20px;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		color: #444;
	}

	&:hover {
		box-shadow: 0px 1px 2px #888888;
	}

	&:hover #new_flag {
		display: inline-block;
		float: right;
	}
}

.image-container {
	height: $image-container-height;
	width: 100%;
	object-fit: contain;
	margin-top: 10px;
}

.image-container-preview {
	height: $image-container-preview-height;
}

.no-image {
	margin-bottom: 30px;
}

.btn-flag {
	background: none;
	border: none;
}

#new_flag {
	display: none;
}