.product-container {
	height: 360px;

	a {
		text-decoration: none;
	}
	
	.product-title p, .product-description div {
		height: 20px;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
}

.image-container {
	height: 200px;
	width: 100%;
	object-fit: contain;
}

.image-container-preview {
	height: 100px;
}

.no-image {
	margin-bottom: 30px;
}


