<div class="container col-md-2">
	<div class="sidenav">
		<ul>
			<li><%= link_to "Profile", user_profile_path, class: "" %></li>
			<li><%= link_to "Products", user_products_path, class: "" %></li>
			<li><%= link_to "Forum Posts", user_forum_posts_path, class: "" %></li>
		</ul>
	</div>
</div>