input {
	border-radius: 0 !important;
}

#input-container { 
    position: relative;
    height: 34px !important;
}

#input-social { 
    margin: 0;
    padding-left: 30px;
}

#input-social-icon {
    position:absolute;
    bottom: 10px;
    left: 10px;
}

@media screen and (max-width: 768px) {
    #input-social-icon {
     	bottom: 10px;
 	}
}

a.tooltip-icon:hover, a.tooltip-icon:focus {
  text-decoration: none;
}

.btn-gradient {
	border: none;
	border-radius: 0;
	font-weight: 900;
	font-size: 15px;

	&:hover {
		opacity: 0.8;
	}
}

.container-flex {
	display: flex;
	align-items: center;
  	justify-content: center;
}

.form-phone-form {
	display: none;
}