<%= form_for [@forum_thread, @forum_post] do |f| %>
  <div class="form-group">
    <%= f.trix_editor :body, placeholder: "Add a comment", rows: 10, class: "form-control" %>
  </div>
  
  <div class="form-group">
    <% if current_user.is_advertiser != true || !current_user.present? %>
      <%= f.submit "Post Comment", class: "btn btn-primary" %>
    <% else %>
      <%= f.submit "Post Comment", class: "btn btn-primary", disabled: true %>
    <% end %>
  </div>
<% end %>
