<div class="container">
  <div class="pull-right">
    <%= link_to "New Marketplace", new_market_path, class: "btn btn-success" %>
  </div>
  <div class="pull-right" style="margin-right: 10px">
    <%= search_form_for @q, html: { class: "form-inline" } do |f| %>
      <%= f.search_field :title_cont, placeholder: "Search...", class: "form-control" %>
    <% end %>
  </div>
  <h1 class="page-header">Marketplaces</h1>
  <%= render @markets %>
</div>
