  <div class="container col-md-12">
	<%= link_to forum_thread do %>
  	<div class="col-md-10">
  		<h3><%= markdownify forum_thread.subject %></h3>
  	</div>
	<% end %>
  	<div class="col-md-1 badge">
  		<%= forum_thread.forum_posts.count %>
  	</div>
  	<div class="col-md-1 badge">
  		<%= forum_thread.forum_category.category_name %>
  	</div>
  </div>
