
<div class="container">
  <div class="pull-right" style="margin-right: 10px">
    <%= search_form_for @q, html: { class: "form-inline" } do |f| %>
      <%= f.search_field :subject_or_forum_posts_body_cont, placeholder: "Search...", class: "form-control" %>
      <%= f.submit "Search", class: "btn btn-success" %>
    <% end %>
  </div>

  <h1 class="page-header">Forum Threads</h1>
  <%= render @forum_threads %>
</div>
