<div class="content-container">
	<div>
	<%= search_form_for @q, html: { class: "form-inline category_id"} do |f| %>
	    <%= f.search_field :title_cont, placeholder: "Search...", class: "form-control" %>
	    <%= f.submit "Search", class: "btn btn-success" %>
	<% end %>
	</div>
</div>