<% if @banner.product_index.present? %>
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
  		<button type="button" class="close" data-dismiss="alert" aria-label="Close">
    	<span aria-hidden="true">&times;</span>
  	</button>
  	<%= @banner.product_index %>
</div> <% end %>



<%= render partial: "products/subnav" %>
<div class="container">

  <h1 class="page-header">Marketplace</h1>
  <%= render partial: "products/sidenav" %>
  <div class="container col-md-10"> 
  	<%= render @products %>
  </div>
</div>