<% if @banner.product_new.present? %>
    <div class="alert alert-info"><%= @banner.product_new %></div>
<% elsif @products > $max_products %>
	<div class="alert alert-danger">You can only have 5 products posted at once.</div>
<% end %>

<h1>New Product</h1>

<%= render "form" %>